/* commentaire css */

.imgHome{
    width: 50%;
    display: block;
    margin: 0 auto;
    aspect-ratio: 2/1;
    object-fit: cover;
}



.borderForm {
    border: 3px solid violet;
    border-radius: 8px;
}

.icon30{
    width: 30px;
    height: 30px;
}

.icon25{
    width: 25px;
    height: 25px;
}

.icon20{
    width: 20px;
    height: 20px;
}

.btn-no-design{
    background-color: transparent;
    border:none;
    padding: 0;
}

.img100{
    width: 100px;
}