/* commentaire css */

.imgHome{
    width: 50%;
    display: block;
    margin: 0 auto;
    aspect-ratio: 2/1;
    object-fit: cover;
}



.borderForm {
    border: 3px solid violet;
    border-radius: 8px;
}