<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {#
            La fonction twig asset() permet d'accéder à la racine du dossier public
            Elle prend 1 argument OBLIGATOIRE (type: string) : nom du fichier à appeler ainsi que son emplacement dans le dossier
        #}
        {% block stylesheets %}{% endblock %}
    </head>

    <body>
        <header>
            {% include "_nav.html.twig" %}
        </header>

        <main class="container">
            <h1 class="text-center text-danger fst-italic mt-3">{% block h1 %}{% endblock %}</h1>

            {% include "_flashes.html.twig" %}
            
            {% block body %}{% endblock %}
        </main>

        <footer></footer>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
        <script src="{{ asset('js/script.js') }}"></script>
        {% block js %}{% endblock %}
    </body>

</html>



<!-- commentaire HTML -->

{# 
    commentaire TWIG

    {{ }} interpolation, afficher les variables et les fonctions

    {% %} commandes : if for set block include etc...
#}